@{
    ViewData["Title"] = "Admin Dashboard";
}
<div style="text-align:center;margin-top:100px;">
    <h1>Welcome, Admin!</h1>
    <p>Your email: @ViewBag.AdminEmail</p>
    <a href="/Rooms/Index" class="btn btn-success">Manage Rooms</a>
</div>
